<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quick Tools</title>
    </head>
    <body>
        <h1>Qr-Generator</h1>
        
        <form action="/scan" method="POST">
            <input name="url" type="text" placeholder="Enter text/url here">
            <input type="submit" value="Generate QR">
        </form>
    </body>
</html>